.listOf-posts-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:500px;
    height:300px;
    margin:auto;
    background-color: aliceblue;
}

.post-title-div{
    width:50%;
    height:50%;
    
}

.post-content-div{
    width:50%;
    height: 50%;
    display: flex;
    flex-direction: column;
}