
body{
    margin:0px;
       background-image: url("/images/whale.png");
    background-size: cover;
    background-repeat: no-repeat;
}


#error-message{
    color:red;
}

.logo{
    width:115px;
    transform:rotate(30deg);
}

.nav-div{
    display: flex;
    justify-content: space-between;
  background-size: cover;
}

.nav-list-div{
    width:50%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.ul-el{

    display: flex;
    flex-direction: row;
    width:100%;
    align-items: center;
    justify-content: space-around;

}

.ul-el li{

    list-style-type: none;
   font-family: 'JetBrains Mono', monospace;

     color: #ffffff;

}

.ul-el li a{
    text-decoration: none;
    color: #ffffff;
}




#register-container{

    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
 


}

.form-div{
    width:60%;
    height:560px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#form{
    width:80%;
    height:90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.6);
}

.form-headline{
    width:100%;
    height:20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'JetBrains Mono', monospace;
    font-size: 45px;
    color: #ffffff;
}
.name-lastname-div{
    width:100%;
    height:20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1%;
 
}

.email-div{

    width:100%;
    height:20%;
    display: flex;
    align-items: center;
    justify-content: center;
      gap:1%;
      margin-top: 30px;
}

.password-div{

    width:100%;
    height:20%;
    display: flex;
    align-items: center;
    justify-content: center;
    
     

}

.input{
    width:50%;
    height:40%;
    border: 1px solid #0e7ca8; /* border thickness and color */
    border-radius: 4px;
    font-family: 'JetBrains Mono', monospace;
    font-size: larger;
    background-color: transparent;
    color: #ffffff;
    caret-color: #ffffff;
    margin-right:5px;
    margin-left:5px;
    text-align: center;
    background-color:#000b17;
    
}
.register-btn{
    width:30%;
    height:10%;
    border-style: none;
    border-radius: 4px;
    box-shadow: 5px 4px 15px rgba(130, 172, 255, 0.5);
    font-family: 'JetBrains Mono', monospace;
    background-color:#000b17;
    color: #ffffff;
    cursor: pointer;
    margin-top:10px;
}
.register-btn:hover{
    background-color:#0e7ca8;
    transition: 0.3s;
}